<%- include('templates/head',{page_title: page_title}) -%>
<div id="warpper">
    <%- include('templates/sidebar') -%>
  <div id="wrap">
    <%- include('templates/header') -%>
    <div class="content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <div class="statistics-box">
              <div class="statistics-content">
                <h4>Student</h4>
                <span>100</span> 
					40 Active<br>
					40 Inactive

                </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="statistics-box">
              <div class="statistics-content">
                <h4>Teachers</h4>
                <span>90</span> 
				40 Active <br>
				50 Inactive
                </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="statistics-box">
              <div class="statistics-content">
                <h4>Parent</h4>
                <span>100</span>
                48 Active<br>
30 Inactive
 </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="statistics-box">
              <div class="statistics-content">
                <h4>Users</h4>
               <span>8</span>
              </div>
            </div>
          </div>
               <div class="col-md-2">
            <div class="statistics-box">
              <div class="statistics-content">
                <h4>Current Attendance</h4>
                <span>840</span>
                800 Present 
<br>
40 Absent
 </div>
            </div>
          </div>
               <div class="col-md-2">
            <div class="statistics-box">
              <div class="statistics-content">
                <h4>SMS</h4>
                <span>10,000</span>
                6000 Available
 </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        
      </div>
    </div>
  </div>
</div>
<%- include('templates/footer') -%>
