<div id="sidebar">
    <h1 class="logo"> <img src="assets/images/logo.png" alt="Node" /> </h1>
    <nav class="navbar-aside">
        <ul class="nav metismenu" id="menu">
            <li id="dashboard" name="navigator" class="current"><a href="/dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i><span class="nav-label">Dashboard</span></a></li>      
            <!-- <li id="" name="navigator"><a href="#"><i class="fa fa-users" aria-hidden="true"></i>Student Management <span class="fa arrow fa-fw"></span></a>
                <ul class="nav">
                    <li><a href="students.html">View All</a></li>
                    <li><a href="add-new-student.html">Add New</a></li>
                </ul>
            </li>
        
            <li id="" name="navigator"><a href="#"><i class="fa fa-users" aria-hidden="true"></i>Teacher Management <span class="fa arrow fa-fw"></span></a>
                <ul class="nav">
                    <li><a href="teachers.html">View All</a></li>
                    <li><a href="add-new-teacher.html">Add New</a></li>
                </ul>
            </li>

            <li id="messages" name="navigator"><a href="attendance.html"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="nav-label">Attendance</span></a></li>

            <li id="" name="navigator"><a href="substitute.html"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="nav-label">Substitute Management </span></a></li>

            <li id="" name="navigator"><a href="#"><i class="fa fa-link" aria-hidden="true"></i>Master <span class="fa arrow fa-fw"></span></a>
                <ul class="nav">
                    <li><a href="master.html">View All</a></li>
                    <li><a href="add-master.html">Add New</a></li>
                </ul>
            </li> -->

            <li id="" name="navigator"><a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Users <span class="fa arrow fa-fw"></span></a>
                <ul class="nav">
                    <li><a href="/users">View All</a></li>
                    <li><a href="/add-user">Add New</a></li>
                </ul>
            </li>

            <li id="" name="navigator"><a href="/change-password"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="nav-label">Change Password</span></a></li>
            <!-- <li id="" name="navigator"><a href="settings.html"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="nav-label">Settings</span></a></li> -->
            <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i><span class="nav-label">Logout</span></a></li>
        </ul>
    </nav>
</div>